body {
  font-family: Arial, sans-serif;
  background-color: #f1f1f1;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 300px;
}

.container h2 {
  text-align: center;
}

.container input[type="text"],
.container input[type="password"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.container button {
  background-color: #4CAF50;
  color: #fff;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

.container button:hover {
  background-color: #45a049;
}

.container .separator {
  margin-top: 10px;
  text-align: center;
}

.container .separator::before,
.container .separator::after {
  content: '';
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 40%;
  background-color: #ccc;
}

.container .separator::before {
  right: 0.5em;
  margin-left: -50%;
}

.container .separator::after {
  left: 0.5em;
  margin-right: -50%;
}
